.shake-animation {
  animation-name: shake;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.flash-animation {
  animation-name: flash;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.tada-animation {
  animation-name: tada;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }

  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}


@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fade-out-animation {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in-animation {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bounce-in-animation {
  animation-name: bounceIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes scaleOut {

  0% {
    opacity: 1;
    transform: scale(1);
  }
  
  100% {
    opacity: 0;
    transform: scale(.3);
  }

}


.bounce-in-animation {
  animation-name: scaleIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


@keyframes bounceOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(.3);
  }
}

.bounce-out-animation {
  animation-name: bounceOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}