/* Vertical Navigation */

nav.vertical li a,
nav.vertical > *  { 
  display: block; 
}

nav.vertical a {
  margin-right: 0;
  color: var(--darken3);
}

nav.vertical a i {
  font-size: 0.9em;
}

nav.vertical a:hover { 
  background: var(--darken);
}

nav.vertical a.active,
nav.vertical li.active a,
nav.vertical a.active:hover {
  background: var(--darken0);
  cursor: pointer;
  pointer-events: none;
}

nav.horizontal li {
  float: left;
}

nav.vertical.rounded-more li:first-child a {
  border-top-left-radius: var(--rounded-more);
  border-top-right-radius: var(--rounded-more);
}